@import "./variables";

body {
  //  height: 100vh;
  font-size: $fontSize;

  //justify-content: center;
}
.wrapper {
  font-family: $font;
  font-weight: 300;
  font-size: 0.5em;
}

#quote {
  color: $dBlue;
  font-weight: 300;
 
}
#person {
  font-size: 0.8em;
}
#name {
  font-weight: 700;
  color: $dBlue;
}
#role {
  color: $gBlue;
  font-weight: 500;
}
#pic {
  filter: drop-shadow(10px 15px 15px $gBlue);
  background-size: cover;
 
}

#control {
  height: 30px;
  width: 60px;
  background-color: white;
  position: absolute;
  content: "";
  bottom: -15px;
  border-radius: 50px;

  margin: auto;
  &::after {
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    right: 8px;
    top: 10px;
    background-image: url("images/icon-next.svg");
    position: absolute;

  
  }
  &::before {
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    left: 8px;
    top: 10px;
    background-image: url("images/icon-next.svg");
    position: absolute;
    transform: rotate(180deg);

 
  }
  #person {
    margin: 20px auto;
    text-align: center;
  }
}
@media (max-width:800px) {
  #name {
    display: block;
  }
  .wrapper {
    margin-bottom: 50px;
  }
  #quote {
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin: auto;
    line-height: 20px;
  }
  #pic {
    width: 75%;
    height: 250px;
max-width: 450px;
    margin: 50px auto;
  }
  #person {
    text-align: center;
  }
  #control{
    left: 0;
    right: 0;
    bottom: -10px;
  }
}
@media (min-width: 801px) {
  body {
    padding:0 70px;
    height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
  height: 100%;
    position: relative;
 
    
  }
  #quote {
    width: 60%;
    font-size: 1.2em;
    max-width: 600px; 
    line-height: 25px;
position: relative;
  }
  #pic {
   position: absolute;
    height: 400px;
    width: 400px;
 align-self: flex-end;
 justify-self: center;


  }
  #control{
     left: 30px; 
  }
}
