@import "./variables";
@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin image {
  background-repeat: no-repeat;
  background-size: contain;
}
body {
  transition: all 1s ease-in;
  font-size: $fontSize;
  position: relative;
  margin: 0;
  &::before {
    content: "";

    background-image: url("images/pattern-bg.svg");
    @include image();
  }
  &::after {
    position: absolute;
    content: "";
    background-position: bottom center;
    background-image: url("images/pattern-curve.svg");

    @include image();
  }
}
.wrapper {
  font-family: $font;
  font-weight: 300;
  font-size: 0.5em;
}

#quote {
  color: $dBlue;
  font-weight: 300;
}
#q-wrapper {
  transition: all 1s ease-in;
  background-image: url("images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 50px;
}
#person {
  font-size: 0.8em;
}
#name {
  font-weight: 700;
  color: $dBlue;
}
#role {
  color: $gBlue;
  font-weight: 500;
}
#pic {
  filter: drop-shadow(10px 15px 15px $gBlue);
  background-size: cover;
  transition: all 0.1s ease-in;
}

#control {
  height: 30px;
  width: 60px;
  background-color: white;
  position: absolute;
  content: "";
  bottom: -15px;
  border-radius: 50px;

  margin: auto;
  &::after {
    width: 12px;
    height: 12px;
    @include image();
    content: "";
    right: 8px;
    top: 10px;
    background-image: url("images/icon-next.svg");
    position: absolute;
  }
  &::before {
    width: 12px;
    height: 12px;
    @include image();
    content: "";
    left: 8px;
    top: 10px;
    background-image: url("images/icon-next.svg");
    position: absolute;
    transform: rotate(180deg);
  }
  #person {
    margin: 20px auto;
    text-align: center;
  }
}
@media (max-width: 800px) {
  #name {
    display: block;
  }
  .wrapper {
    margin-bottom: 50px;
  }
  #quote {
    width: 90%;
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 20px;
  }
  #q-wrapper {
    background-position: top center;
  }
  #pic {
    width: 75%;
    height: 250px;
    max-width: 300px;
    margin: 50px auto;
  }
  #person {
    text-align: center;
  }
  #control {
    left: 0;
    right: 0;
    bottom: -10px;
  }
  body {
    &::before {
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;
      margin: auto;
      height: 350px;
      width: 300px;
      background-position: top 0 center;
    }
    &::after {
      bottom: 0;
      left: 0;
      width: 200px;
      height: 200px;
      z-index: -1;
    }
  }
}
@media (min-width: 801px) {
  body {
    padding: 0px 70px;

    @include flex();

    &::before {
      position: absolute;
      top: 5px;
      right: 25px;
      align-self: flex-end;
      height: 480px;
      width: 730px;
      background-position: top 0 right 10px;
    }

    &::after {
      width: 350px;
      height: 100px;
      position: absolute;
      left: 0;
      bottom: 0px;
      justify-self: flex-end;
      @include image();
    }
    .wrapper {
      @include flex();
      justify-self: flex-end;

      height: 100vh;
    }
    #quote {
      width: 60%;
      font-size: 1.4em;
      max-width: 600px;
      line-height: 30px;
      position: relative;
      align-self: center;
    }
    #q-wrapper {
      background-position: left 50px top;
    }
    #pic {
      position: absolute;
      height: 400px;
      width:40%;
      align-self: flex-end;
      justify-self: center;
      top: 50px;
    }
    #control {
      left: 30px;
    }
    #name {
      margin-right: 5px;
    }
    footer {
    }
  }
}
