body {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  font-size: 32px;
  position: relative;
  margin: 0;
}

body::before {
  content: "";
  background-image: url("images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

body::after {
  position: absolute;
  content: "";
  background-position: bottom center;
  background-image: url("images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.5em;
}

#quote {
  color: #202046;
  font-weight: 300;
}

#q-wrapper {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  background-image: url("images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 50px;
}

#person {
  font-size: 0.8em;
}

#name {
  font-weight: 700;
  color: #202046;
}

#role {
  color: #babacf;
  font-weight: 500;
}

#pic {
  -webkit-filter: drop-shadow(10px 15px 15px #babacf);
          filter: drop-shadow(10px 15px 15px #babacf);
  background-size: cover;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#control {
  height: 30px;
  width: 60px;
  background-color: white;
  position: absolute;
  content: "";
  bottom: -15px;
  border-radius: 50px;
  margin: auto;
}

#control::after {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  right: 8px;
  top: 10px;
  background-image: url("images/icon-next.svg");
  position: absolute;
}

#control::before {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  left: 8px;
  top: 10px;
  background-image: url("images/icon-next.svg");
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#control #person {
  margin: 20px auto;
  text-align: center;
}

@media (max-width: 800px) {
  #name {
    display: block;
  }
  .wrapper {
    margin-bottom: 50px;
  }
  #quote {
    width: 90%;
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding: 10px;
    line-height: 20px;
  }
  #q-wrapper {
    background-position: top center;
  }
  #pic {
    width: 75%;
    height: 250px;
    max-width: 300px;
    margin: 50px auto;
  }
  #person {
    text-align: center;
  }
  #control {
    left: 0;
    right: 0;
    bottom: -10px;
  }
  body::before {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    height: 350px;
    width: 300px;
    background-position: top 0 center;
  }
  body::after {
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
  }
}

@media (min-width: 801px) {
  body {
    padding: 0px 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body::before {
    position: absolute;
    top: 5px;
    right: 25px;
    -ms-flex-item-align: end;
        align-self: flex-end;
    height: 480px;
    width: 730px;
    background-position: top 0 right 10px;
  }
  body::after {
    width: 350px;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0px;
    justify-self: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
  }
  body .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: flex-end;
    height: 100vh;
  }
  body #quote {
    width: 60%;
    font-size: 1.4em;
    max-width: 600px;
    line-height: 30px;
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body #q-wrapper {
    background-position: left 50px top;
  }
  body #pic {
    position: absolute;
    height: 400px;
    width: 40%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 50px;
  }
  body #control {
    left: 30px;
  }
  body #name {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=styles.css.map */